openapi: 3.1.0

info:
  title: authn.sh API
  version: 0.1.0-pre
  summary: Backend API (BAPI) and Frontend API (FAPI) for authn.sh.
  description: |
    The authn.sh API has two surfaces:

    - **BAPI** (Backend API) — server-to-server. Authenticated with a workspace
      secret key (`sk_test_…` / `sk_live_…`). Lives at `https://api.authn.sh/v1`.
    - **FAPI** (Frontend API) — browser-facing. Identifies a device via the
      `__client` cookie set on the per-environment FAPI host
      (`https://{env_slug}.authn.sh/v1`). Cross-origin XHR is enabled for
      origins listed in the environment's allowlist.

    This document is the source of truth for both surfaces. Every authn.sh SDK
    (`@authn.sh/sdk-js`, `@authn.sh/sdk-react`, `authn/sdk` PHP, …) generates
    its request and response types from the bundled artifact (`dist/openapi.bundled.json`).

    The spec is split across `paths/` and `components/` for review-friendliness;
    the bundler stitches everything together.
  license:
    name: AGPL-3.0-only
    identifier: AGPL-3.0-only
  contact:
    name: authn.sh
    url: https://authn.sh
  termsOfService: https://authn.sh/terms

servers:
  - url: https://api.authn.sh/v1
    description: Production BAPI (workspace-scoped, server-to-server).
  - url: https://{env_slug}.authn.sh/v1
    description: Production FAPI (per-environment, browser-facing).
    variables:
      env_slug:
        default: example
        description: |
          The slug of the environment whose FAPI you're addressing. Each
          `Environment` row gets a unique slug at creation; production envs use
          `<project_slug>`, development envs use `<project_slug>-dev`.

tags:
  - name: Users
    description: End-user identities.
  - name: Email Addresses
    description: User-owned email identifiers and their verification state.
  - name: Sessions
    description: Live authenticated sessions across devices.
  - name: Sign-Ins
    description: In-progress sign-in attempts (FAPI state machine).
  - name: Sign-Ups
    description: In-progress sign-up attempts (FAPI state machine).
  - name: Me
    description: Authenticated end-user's view of themselves (FAPI).
  - name: Client
    description: Per-device state container (FAPI).
  - name: Environment
    description: Public per-environment configuration consumed at SDK boot (FAPI).
  - name: Organizations
    description: Organizations within an environment. Populated in v0.2.
  - name: Org Memberships
    description: User ↔ organization joins. Populated in v0.2.
  - name: Org Invitations
    description: Pending invitations to join an organization. Populated in v0.2.
  - name: Org Domains
    description: Verified domains attached to an organization. Populated in v0.2.
  - name: Invitations
    description: Application-level (non-organization) invitations.
  - name: Allowlist Identifiers
    description: Identifier patterns allowed to sign up under restricted mode.
  - name: Blocklist Identifiers
    description: Identifier patterns refused at sign-up.
  - name: Redirect URLs
    description: URLs allowed as post-flow redirect targets.
  - name: Instance
    description: Per-environment settings (`InstanceSetting`).
  - name: Webhooks
    description: Webhook endpoints, deliveries, and the event envelope.
  - name: JWKS / OIDC
    description: Public keys and OIDC discovery served per-environment on the FAPI host.

security:
  - bearer_secret_key: []

paths:
  /v1/users:
    $ref: ./paths/users.yaml
  /v1/users/count:
    $ref: ./paths/users-count.yaml
  /v1/users/{user_id}:
    $ref: ./paths/user.yaml
  /v1/users/{user_id}/ban:
    $ref: ./paths/user-ban.yaml
  /v1/users/{user_id}/unban:
    $ref: ./paths/user-unban.yaml
  /v1/users/{user_id}/lock:
    $ref: ./paths/user-lock.yaml
  /v1/users/{user_id}/unlock:
    $ref: ./paths/user-unlock.yaml
  /v1/users/{user_id}/profile_image:
    $ref: ./paths/user-profile-image.yaml
  /v1/users/{user_id}/metadata:
    $ref: ./paths/user-metadata.yaml
  /v1/users/{user_id}/verify_password:
    $ref: ./paths/user-verify-password.yaml
  /v1/email_addresses:
    $ref: ./paths/email-addresses.yaml
  /v1/email_addresses/{email_address_id}:
    $ref: ./paths/email-address.yaml

components:
  securitySchemes:
    bearer_secret_key:
      type: http
      scheme: bearer
      bearerFormat: secret_key
      description: |
        Workspace-scoped secret key. Format: `sk_test_<…>` or `sk_live_<…>`.
        Resolves to a single `Environment`. Issued and rotated from the
        Dashboard or `POST /v1/api_keys` (post-v0.1).

    client_cookie:
      type: apiKey
      in: cookie
      name: __client
      description: |
        FAPI device cookie. HttpOnly, `SameSite=Lax`, `Secure` in production.
        Issued by `GET /v1/client` on first contact. Identifies the `Client`
        row across requests on its FAPI host.

    dev_browser_jwt:
      type: apiKey
      in: query
      name: __authn_db_jwt
      description: |
        Cross-origin development fallback for FAPI. When the SDK runs against a
        dev FAPI host that can't set a SameSite=Lax cookie cross-site (no
        HTTPS), it sends this query-string JWT instead. Production never uses
        this.

  schemas:
    Id:                        { $ref: ./components/schemas/Id.yaml }
    Timestamp:                 { $ref: ./components/schemas/Timestamp.yaml }
    Metadata:                  { $ref: ./components/schemas/Metadata.yaml }
    PaginatedList:             { $ref: ./components/schemas/PaginatedList.yaml }
    Error:                     { $ref: ./components/schemas/Error.yaml }
    ErrorResponse:             { $ref: ./components/schemas/ErrorResponse.yaml }
    Verification:              { $ref: ./components/schemas/Verification.yaml }
    EmailAddress:              { $ref: ./components/schemas/EmailAddress.yaml }
    User:                      { $ref: ./components/schemas/User.yaml }
    UserCreateRequest:         { $ref: ./components/schemas/UserCreateRequest.yaml }
    UserUpdateRequest:         { $ref: ./components/schemas/UserUpdateRequest.yaml }
    EmailAddressCreateRequest: { $ref: ./components/schemas/EmailAddressCreateRequest.yaml }
    EmailAddressUpdateRequest: { $ref: ./components/schemas/EmailAddressUpdateRequest.yaml }

  responses:
    BadRequest:           { $ref: ./components/responses/BadRequest.yaml }
    Unauthorized:         { $ref: ./components/responses/Unauthorized.yaml }
    Forbidden:            { $ref: ./components/responses/Forbidden.yaml }
    NotFound:             { $ref: ./components/responses/NotFound.yaml }
    Conflict:             { $ref: ./components/responses/Conflict.yaml }
    UnprocessableEntity:  { $ref: ./components/responses/UnprocessableEntity.yaml }
    TooManyRequests:      { $ref: ./components/responses/TooManyRequests.yaml }

  parameters:
    LimitParam:           { $ref: ./components/parameters/LimitParam.yaml }
    OffsetParam:          { $ref: ./components/parameters/OffsetParam.yaml }
    OrderByParam:         { $ref: ./components/parameters/OrderByParam.yaml }
    IdempotencyKeyHeader: { $ref: ./components/parameters/IdempotencyKeyHeader.yaml }
