openapi: 3.1.0

info:
  title: authn.sh API
  version: 0.1.0-pre
  summary: Backend API (BAPI) and Frontend API (FAPI) for authn.sh.
  description: |
    The authn.sh API has two surfaces:

    - **BAPI** (Backend API) — server-to-server. Authenticated with a workspace
      secret key (`sk_test_…` / `sk_live_…`). Lives at `https://api.authn.sh/v1`.
    - **FAPI** (Frontend API) — browser-facing. Identifies a device via the
      `__client` cookie set on the per-environment FAPI host
      (`https://{env_slug}.authn.sh/v1`). Cross-origin XHR is enabled for
      origins listed in the environment's allowlist.

    This document is the source of truth for both surfaces. Every authn.sh SDK
    (`@authn.sh/sdk-js`, `@authn.sh/sdk-react`, `authn/sdk` PHP, …) generates
    its request and response types from the bundled artifact (`dist/openapi.bundled.json`).

    The spec is split across `paths/` and `components/` for review-friendliness;
    the bundler stitches everything together.
  license:
    name: AGPL-3.0-only
    identifier: AGPL-3.0-only
  contact:
    name: authn.sh
    url: https://authn.sh
  termsOfService: https://authn.sh/terms

servers:
  - url: https://api.authn.sh/v1
    description: Production BAPI (workspace-scoped, server-to-server).
  - url: https://{env_slug}.authn.sh/v1
    description: Production FAPI (per-environment, browser-facing).
    variables:
      env_slug:
        default: example
        description: |
          The slug of the environment whose FAPI you're addressing. Each
          `Environment` row gets a unique slug at creation; production envs use
          `<project_slug>`, development envs use `<project_slug>-dev`.

tags:
  - name: Users
    description: End-user identities.
  - name: Email Addresses
    description: User-owned email identifiers and their verification state.
  - name: Sessions
    description: Live authenticated sessions across devices.
  - name: Sign-Ins
    description: In-progress sign-in attempts (FAPI state machine).
  - name: Sign-Ups
    description: In-progress sign-up attempts (FAPI state machine).
  - name: Me
    description: Authenticated end-user's view of themselves (FAPI).
  - name: Client
    description: Per-device state container (FAPI).
  - name: Environment
    description: Public per-environment configuration consumed at SDK boot (FAPI).
  - name: Organizations
    description: Organizations within an environment. Populated in v0.2.
  - name: Org Memberships
    description: User ↔ organization joins. Populated in v0.2.
  - name: Org Invitations
    description: Pending invitations to join an organization. Populated in v0.2.
  - name: Org Domains
    description: Verified domains attached to an organization. Populated in v0.2.
  - name: Org Membership Requests
    description: Pending join requests created by domain auto-suggestion. Populated in v0.2.
  - name: Roles
    description: Custom and system roles, scoped per environment. Populated in v0.2.
  - name: Permissions
    description: System permissions catalog (and custom permissions, post-v0.2). Populated in v0.2.
  - name: Invitations
    description: Application-level (non-organization) invitations.
  - name: Allowlist Identifiers
    description: Identifier patterns allowed to sign up under restricted mode.
  - name: Blocklist Identifiers
    description: Identifier patterns refused at sign-up.
  - name: Redirect URLs
    description: URLs allowed as post-flow redirect targets.
  - name: Instance
    description: Per-environment settings (`InstanceSetting`).
  - name: Webhooks
    description: Webhook endpoints, deliveries, and the event envelope.
  - name: JWKS / OIDC
    description: Public keys and OIDC discovery served per-environment on the FAPI host.

security:
  - bearer_secret_key: []

paths:
  /v1/users:
    $ref: ./paths/users.yaml
  /v1/users/count:
    $ref: ./paths/users-count.yaml
  /v1/users/{user_id}:
    $ref: ./paths/user.yaml
  /v1/users/{user_id}/ban:
    $ref: ./paths/user-ban.yaml
  /v1/users/{user_id}/unban:
    $ref: ./paths/user-unban.yaml
  /v1/users/{user_id}/lock:
    $ref: ./paths/user-lock.yaml
  /v1/users/{user_id}/unlock:
    $ref: ./paths/user-unlock.yaml
  /v1/users/{user_id}/profile_image:
    $ref: ./paths/user-profile-image.yaml
  /v1/users/{user_id}/metadata:
    $ref: ./paths/user-metadata.yaml
  /v1/users/{user_id}/verify_password:
    $ref: ./paths/user-verify-password.yaml
  /v1/email_addresses:
    $ref: ./paths/email-addresses.yaml
  /v1/email_addresses/{email_address_id}:
    $ref: ./paths/email-address.yaml
  /v1/organizations:
    $ref: ./paths/organizations.yaml
  /v1/organizations/{organization_id}:
    $ref: ./paths/organization.yaml
  /v1/organizations/{organization_id}/memberships:
    $ref: ./paths/organization-memberships.yaml
  /v1/organizations/{organization_id}/memberships/{user_id}:
    $ref: ./paths/organization-membership.yaml
  /v1/organizations/{organization_id}/invitations:
    $ref: ./paths/organization-invitations.yaml
  /v1/organizations/{organization_id}/invitations/bulk:
    $ref: ./paths/organization-invitations-bulk.yaml
  /v1/organizations/{organization_id}/invitations/{invitation_id}/revoke:
    $ref: ./paths/organization-invitation-revoke.yaml
  /v1/organizations/{organization_id}/domains:
    $ref: ./paths/organization-domains.yaml
  /v1/organizations/{organization_id}/domains/{domain_id}:
    $ref: ./paths/organization-domain.yaml
  /v1/organizations/{organization_id}/domains/{domain_id}/verify:
    $ref: ./paths/organization-domain-verify.yaml
  /v1/roles:
    $ref: ./paths/roles.yaml
  /v1/roles/{role_id}:
    $ref: ./paths/role.yaml
  /v1/roles/{role_id}/permissions:
    $ref: ./paths/role-permissions.yaml
  /v1/permissions:
    $ref: ./paths/permissions.yaml
  /v1/sessions:
    $ref: ./paths/sessions.yaml
  /v1/sessions/{session_id}:
    $ref: ./paths/session.yaml
  /v1/sessions/{session_id}/revoke:
    $ref: ./paths/session-revoke.yaml
  /v1/sessions/{session_id}/tokens:
    $ref: ./paths/session-tokens.yaml
  /v1/sessions/{session_id}/tokens/{template_name}:
    $ref: ./paths/session-tokens-template.yaml

  # Frontend API (FAPI) — per-environment host. SDKs target the second
  # `servers:` entry; `client_cookie` / `dev_browser_jwt` security applies.
  /v1/environment:
    $ref: ./paths/environment.yaml
  /v1/client:
    $ref: ./paths/client.yaml
  /v1/client/handshake:
    $ref: ./paths/client-handshake.yaml
  /v1/client/sign_ins:
    $ref: ./paths/sign-ins.yaml
  /v1/client/sign_ins/{sign_in_id}:
    $ref: ./paths/sign-in.yaml
  /v1/client/sign_ins/{sign_in_id}/prepare_first_factor:
    $ref: ./paths/sign-in-prepare-first-factor.yaml
  /v1/client/sign_ins/{sign_in_id}/attempt_first_factor:
    $ref: ./paths/sign-in-attempt-first-factor.yaml
  /v1/client/sign_ins/{sign_in_id}/prepare_second_factor:
    $ref: ./paths/sign-in-prepare-second-factor.yaml
  /v1/client/sign_ins/{sign_in_id}/attempt_second_factor:
    $ref: ./paths/sign-in-attempt-second-factor.yaml
  /v1/client/sign_ins/{sign_in_id}/reset_password:
    $ref: ./paths/sign-in-reset-password.yaml
  /v1/client/sign_ups:
    $ref: ./paths/sign-ups.yaml
  /v1/client/sign_ups/{sign_up_id}:
    $ref: ./paths/sign-up.yaml
  /v1/client/sign_ups/{sign_up_id}/prepare_verification:
    $ref: ./paths/sign-up-prepare-verification.yaml
  /v1/client/sign_ups/{sign_up_id}/attempt_verification:
    $ref: ./paths/sign-up-attempt-verification.yaml
  /v1/client/sessions/{session_id}:
    $ref: ./paths/client-session.yaml
  /v1/client/sessions/{session_id}/end:
    $ref: ./paths/client-session-end.yaml
  /v1/client/sessions/{session_id}/remove:
    $ref: ./paths/client-session-remove.yaml
  /v1/client/sessions/{session_id}/touch:
    $ref: ./paths/client-session-touch.yaml
  /v1/client/sessions/{session_id}/tokens:
    $ref: ./paths/client-session-tokens.yaml
  /v1/client/sessions/{session_id}/tokens/{template_name}:
    $ref: ./paths/client-session-tokens-template.yaml
  /v1/me:
    $ref: ./paths/me.yaml
  /v1/me/profile_image:
    $ref: ./paths/me-profile-image.yaml
  /v1/me/email_addresses:
    $ref: ./paths/me-email-addresses.yaml
  /v1/me/email_addresses/{email_address_id}:
    $ref: ./paths/me-email-address.yaml
  /v1/me/email_addresses/{email_address_id}/prepare_verification:
    $ref: ./paths/me-email-prepare-verification.yaml
  /v1/me/email_addresses/{email_address_id}/attempt_verification:
    $ref: ./paths/me-email-attempt-verification.yaml
  /v1/me/organizations:
    $ref: ./paths/me-organizations.yaml
  /v1/me/organizations/{organization_id}:
    $ref: ./paths/me-organization.yaml
  /v1/me/organizations/{organization_id}/leave:
    $ref: ./paths/me-organization-leave.yaml
  /v1/me/organizations/{organization_id}/memberships:
    $ref: ./paths/me-organization-memberships.yaml
  /v1/me/organizations/{organization_id}/memberships/{user_id}:
    $ref: ./paths/me-organization-membership.yaml
  /v1/me/organizations/{organization_id}/invitations:
    $ref: ./paths/me-organization-invitations.yaml
  /v1/me/organizations/{organization_id}/invitations/bulk:
    $ref: ./paths/me-organization-invitations-bulk.yaml
  /v1/me/organizations/{organization_id}/invitations/{invitation_id}/revoke:
    $ref: ./paths/me-organization-invitation-revoke.yaml
  /v1/me/organizations/{organization_id}/domains:
    $ref: ./paths/me-organization-domains.yaml
  /v1/me/organizations/{organization_id}/domains/{domain_id}:
    $ref: ./paths/me-organization-domain.yaml
  /v1/me/organizations/{organization_id}/domains/{domain_id}/verify:
    $ref: ./paths/me-organization-domain-verify.yaml
  /v1/me/organizations/{organization_id}/membership_requests:
    $ref: ./paths/me-organization-membership-requests.yaml
  /v1/me/organizations/{organization_id}/membership_requests/{request_id}/accept:
    $ref: ./paths/me-organization-membership-request-accept.yaml
  /v1/me/organizations/{organization_id}/membership_requests/{request_id}/reject:
    $ref: ./paths/me-organization-membership-request-reject.yaml
  /v1/me/organization_memberships:
    $ref: ./paths/me-org-memberships.yaml
  /v1/me/organization_invitations:
    $ref: ./paths/me-org-invitations.yaml
  /v1/me/organization_invitations/{invitation_id}/accept:
    $ref: ./paths/me-org-invitation-accept.yaml
  /v1/me/organization_membership_requests:
    $ref: ./paths/me-org-membership-requests.yaml
  /v1/me/active_organization:
    $ref: ./paths/me-active-organization.yaml
  /v1/me/sessions:
    $ref: ./paths/me-sessions.yaml
  /v1/me/change_password:
    $ref: ./paths/me-change-password.yaml
  /v1/me/password:
    $ref: ./paths/me-password.yaml
  /v1/me/delete_self:
    $ref: ./paths/me-delete-self.yaml

  # BAPI: invitations + restrictions + redirect URLs + instance settings.
  /v1/invitations:
    $ref: ./paths/invitations.yaml
  /v1/invitations/bulk:
    $ref: ./paths/invitations-bulk.yaml
  /v1/invitations/{invitation_id}/revoke:
    $ref: ./paths/invitation-revoke.yaml
  /v1/allowlist_identifiers:
    $ref: ./paths/allowlist-identifiers.yaml
  /v1/allowlist_identifiers/{identifier_id}:
    $ref: ./paths/allowlist-identifier.yaml
  /v1/blocklist_identifiers:
    $ref: ./paths/blocklist-identifiers.yaml
  /v1/blocklist_identifiers/{identifier_id}:
    $ref: ./paths/blocklist-identifier.yaml
  /v1/redirect_urls:
    $ref: ./paths/redirect-urls.yaml
  /v1/redirect_urls/{redirect_url_id}:
    $ref: ./paths/redirect-url.yaml
  /v1/instance:
    $ref: ./paths/instance.yaml
  /v1/instance/restrictions:
    $ref: ./paths/instance-restrictions.yaml
  /v1/instance/organization_settings:
    $ref: ./paths/instance-organization-settings.yaml

  # Webhooks: endpoint CRUD + secret rotation + delivery audit log + replay.
  /v1/webhooks/endpoints:
    $ref: ./paths/webhook-endpoints.yaml
  /v1/webhooks/endpoints/{endpoint_id}:
    $ref: ./paths/webhook-endpoint.yaml
  /v1/webhooks/endpoints/{endpoint_id}/rotate_secret:
    $ref: ./paths/webhook-endpoint-rotate.yaml
  /v1/webhooks/deliveries:
    $ref: ./paths/webhook-deliveries.yaml
  /v1/webhooks/deliveries/{delivery_id}:
    $ref: ./paths/webhook-delivery.yaml
  /v1/webhooks/deliveries/{delivery_id}/replay:
    $ref: ./paths/webhook-delivery-replay.yaml

components:
  securitySchemes:
    bearer_secret_key:
      type: http
      scheme: bearer
      bearerFormat: secret_key
      description: |
        Workspace-scoped secret key. Format: `sk_test_<…>` or `sk_live_<…>`.
        Resolves to a single `Environment`. Issued and rotated from the
        Dashboard or `POST /v1/api_keys` (post-v0.1).

    client_cookie:
      type: apiKey
      in: cookie
      name: __client
      description: |
        FAPI device cookie. HttpOnly, `SameSite=Lax`, `Secure` in production.
        Issued by `GET /v1/client` on first contact. Identifies the `Client`
        row across requests on its FAPI host.

    dev_browser_jwt:
      type: apiKey
      in: query
      name: __authn_db_jwt
      description: |
        Cross-origin development fallback for FAPI. When the SDK runs against a
        dev FAPI host that can't set a SameSite=Lax cookie cross-site (no
        HTTPS), it sends this query-string JWT instead. Production never uses
        this.

  schemas:
    Id:                        { $ref: ./components/schemas/Id.yaml }
    Timestamp:                 { $ref: ./components/schemas/Timestamp.yaml }
    Metadata:                  { $ref: ./components/schemas/Metadata.yaml }
    PaginatedList:             { $ref: ./components/schemas/PaginatedList.yaml }
    Error:                     { $ref: ./components/schemas/Error.yaml }
    ErrorResponse:             { $ref: ./components/schemas/ErrorResponse.yaml }
    Verification:              { $ref: ./components/schemas/Verification.yaml }
    EmailAddress:              { $ref: ./components/schemas/EmailAddress.yaml }
    User:                      { $ref: ./components/schemas/User.yaml }
    UserCreateRequest:         { $ref: ./components/schemas/UserCreateRequest.yaml }
    UserUpdateRequest:         { $ref: ./components/schemas/UserUpdateRequest.yaml }
    EmailAddressCreateRequest: { $ref: ./components/schemas/EmailAddressCreateRequest.yaml }
    EmailAddressUpdateRequest: { $ref: ./components/schemas/EmailAddressUpdateRequest.yaml }
    Client:                    { $ref: ./components/schemas/Client.yaml }
    ClientResponseEnvelope:    { $ref: ./components/schemas/ClientResponseEnvelope.yaml }
    Environment:               { $ref: ./components/schemas/Environment.yaml }
    Session:                   { $ref: ./components/schemas/Session.yaml }
    SessionActivity:           { $ref: ./components/schemas/SessionActivity.yaml }
    SignIn:                    { $ref: ./components/schemas/SignIn.yaml }
    SignUp:                    { $ref: ./components/schemas/SignUp.yaml }
    Invitation:                       { $ref: ./components/schemas/Invitation.yaml }
    InvitationCreateRequest:          { $ref: ./components/schemas/InvitationCreateRequest.yaml }
    InvitationBulkCreateRequest:      { $ref: ./components/schemas/InvitationBulkCreateRequest.yaml }
    AllowlistIdentifier:              { $ref: ./components/schemas/AllowlistIdentifier.yaml }
    BlocklistIdentifier:              { $ref: ./components/schemas/BlocklistIdentifier.yaml }
    RedirectUrl:                      { $ref: ./components/schemas/RedirectUrl.yaml }
    InstanceSettings:                 { $ref: ./components/schemas/InstanceSettings.yaml }
    AttributeSetting:                 { $ref: ./components/schemas/AttributeSetting.yaml }
    InstanceUpdateRequest:            { $ref: ./components/schemas/InstanceUpdateRequest.yaml }
    RestrictionsUpdateRequest:        { $ref: ./components/schemas/RestrictionsUpdateRequest.yaml }
    OrganizationSettingsUpdateRequest: { $ref: ./components/schemas/OrganizationSettingsUpdateRequest.yaml }
    WebhookEvent:                      { $ref: ./components/schemas/WebhookEvent.yaml }
    WebhookEndpoint:                   { $ref: ./components/schemas/WebhookEndpoint.yaml }
    WebhookEndpointCreateRequest:      { $ref: ./components/schemas/WebhookEndpointCreateRequest.yaml }
    WebhookEndpointUpdateRequest:      { $ref: ./components/schemas/WebhookEndpointUpdateRequest.yaml }
    WebhookDelivery:                   { $ref: ./components/schemas/WebhookDelivery.yaml }
    PublicUserData:                            { $ref: ./components/schemas/PublicUserData.yaml }
    Organization:                              { $ref: ./components/schemas/Organization.yaml }
    OrganizationCreateRequest:                 { $ref: ./components/schemas/OrganizationCreateRequest.yaml }
    OrganizationUpdateRequest:                 { $ref: ./components/schemas/OrganizationUpdateRequest.yaml }
    OrganizationMembership:                    { $ref: ./components/schemas/OrganizationMembership.yaml }
    OrganizationMembershipCreateRequest:       { $ref: ./components/schemas/OrganizationMembershipCreateRequest.yaml }
    OrganizationMembershipUpdateRequest:       { $ref: ./components/schemas/OrganizationMembershipUpdateRequest.yaml }
    OrganizationInvitation:                    { $ref: ./components/schemas/OrganizationInvitation.yaml }
    OrganizationInvitationCreateRequest:       { $ref: ./components/schemas/OrganizationInvitationCreateRequest.yaml }
    OrganizationInvitationBulkCreateRequest:   { $ref: ./components/schemas/OrganizationInvitationBulkCreateRequest.yaml }
    OrganizationDomain:                        { $ref: ./components/schemas/OrganizationDomain.yaml }
    OrganizationDomainCreateRequest:           { $ref: ./components/schemas/OrganizationDomainCreateRequest.yaml }
    OrganizationDomainUpdateRequest:           { $ref: ./components/schemas/OrganizationDomainUpdateRequest.yaml }
    OrganizationMembershipRequest:             { $ref: ./components/schemas/OrganizationMembershipRequest.yaml }
    Permission:                                { $ref: ./components/schemas/Permission.yaml }
    Role:                                      { $ref: ./components/schemas/Role.yaml }
    RoleCreateRequest:                         { $ref: ./components/schemas/RoleCreateRequest.yaml }
    RoleUpdateRequest:                         { $ref: ./components/schemas/RoleUpdateRequest.yaml }
    RolePermissionsRequest:                    { $ref: ./components/schemas/RolePermissionsRequest.yaml }

  responses:
    BadRequest:           { $ref: ./components/responses/BadRequest.yaml }
    Unauthorized:         { $ref: ./components/responses/Unauthorized.yaml }
    Forbidden:            { $ref: ./components/responses/Forbidden.yaml }
    NotFound:             { $ref: ./components/responses/NotFound.yaml }
    Conflict:             { $ref: ./components/responses/Conflict.yaml }
    UnprocessableEntity:  { $ref: ./components/responses/UnprocessableEntity.yaml }
    TooManyRequests:      { $ref: ./components/responses/TooManyRequests.yaml }

  parameters:
    LimitParam:           { $ref: ./components/parameters/LimitParam.yaml }
    OffsetParam:          { $ref: ./components/parameters/OffsetParam.yaml }
    OrderByParam:         { $ref: ./components/parameters/OrderByParam.yaml }
    IdempotencyKeyHeader: { $ref: ./components/parameters/IdempotencyKeyHeader.yaml }
